---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const posts = await getCollection('blog');
const sortedPosts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout title="Блог">
  <div class="p-4">
  <h1 class="font-bold my-4 text-2xl"># Блог</h1>
  <ul class="list-disc">
    {sortedPosts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}`} class="block">
          {post.data.title} <span class="opacity-50 text-sm">{post.data.pubDate.toLocaleDateString()}</span>
        </a>
      </li>
    ))}
  </ul>
  </div>
</Layout>