---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const posts = await getCollection('blog');
const tagCounts = {};

posts.forEach((post) => {
  if (post.data.tags) {
    post.data.tags.forEach((tag) => {
      tagCounts[tag] = (tagCounts[tag] || 0) + 1;
    });
  }
});

const sortedTags = Object.entries(tagCounts)
  .sort(([, a], [, b]) => b - a);
---

<Layout title="Все теги">
  <div class="p-4">
  <h1 class="font-bold my-4 text-2xl">Теги</h1>
    <ul class="list-disc">
      {sortedTags.map(([tag, count]) => (
      <li>
        <a href={`/tags/${tag}`} class="block">
        #{tag}
        <span class="opacity-50 text-sm">
          {count}
      </span>
      </a>
      </li>
      ))}
    </ul>
    {sortedTags.length === 0 && (
      <p class="text-gray-500 text-center py-8">
        Теги еще не добавлены
      </p>
    )}
  </div>
</Layout>