---
import "../styles/global.css"
const { title } = Astro.props;
---
<!doctype html>
<html lang="ru" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-zinc-800 text-zinc-100 flex items-center justify-center p-5">
    <main class="max-w-2xl w-full">
        <div class="p-8 m-8 text-center">
            <div class="container p-4 bg-zinc-100 text-zinc-900 -rotate-1 hover:rotate-0 transition-transform shadow-2xs">
    <h1 id="hello" class="font-bold text-7xl md:text-8xl">404</h1>
<p class="text-md mb-6">
                Упс, вы зашли куда-то не туда.<br>
                
            </p>
  </div><br>
            <a href="/" >
                Можно вернуться на главную страницу.
                </a>
            
        </div>
    </main>
</body>
</html>