---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Обо мне">
    <div class="p-4">
    <h1 class="font-bold my-4 text-2xl"># Обо мне</h1>
    <p class="mb-2">программист, на данный момент - студент технического вуза и лаборант.</p>
    <h1 class="font-bold my-4 text-2xl "># Досье</h1>
    <ul class="list-disc">
    <li><span class="font-bold">Возраст:</span> <span id="age"></span></li>
    <li><span class="font-bold">Город:</span> Волгоград/Москва, РФ</li>
    <li><span class="font-bold">Языки:</span> русский, english</li>
    <li><span class="font-bold">Элайнмент:</span> нейтрально-добрый</li>
    </ul>
    <h1 class="font-bold my-4 text-2xl"># Контакты</h1>
    <ul class="list-disc">
	<li><span class="font-bold">Гитхаб:</span> <a href="/"><i class="fa-brands fa-github"></i>/Lennichijou</a></li>
	<li><span class="font-bold">Телеграм:</span> <a href="/"><i class="fa-brands fa-telegram"></i>/Lenhardt</a></li>

    </ul>
    </div>
    <script is:inline>
        document.addEventListener("DOMContentLoaded",()=>{
                    const birthDate = new Date(2004, 0, 13, 0, 0, 0);
                    const ageElement = document.getElementById('age');
                    function calculateAge() {
                        const now = Date.now();
                        const diffMs = now - birthDate.getTime();
                        const msInSecond = 1000;
                        const msInMinute = 60 * msInSecond;
                        const msInHour = 60 * msInMinute;
                        const msInDay = 24 * msInHour;
                        const msInYear = 365.25 * msInDay;
                        const years = diffMs / msInYear;
                        ageElement.textContent = years.toFixed(9);
                    }
                    setInterval(calculateAge, 10);
                    calculateAge();
        });
    </script>
</Layout>