---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Обо мне">
    <div class="p-4">
    <h1 class="font-bold my-4 text-2xl"># Обо мне</h1>
    <p class="mb-2">программист, на данный момент - студент технического вуза и лаборант.</p>
    <h1 class="font-bold my-4 text-2xl "># Досье</h1>
    <ul class="list-disc">
    <li><span class="font-bold">Д/Р:</span> 13.01.2004</li>
    <li><span class="font-bold">Город:</span> Волгоград/Москва, РФ</li>
    <li><span class="font-bold">Языки:</span> русский, english</li>
    <li><span class="font-bold">Элайнмент:</span> нейтрально-добрый</li>
    </ul>
    <h1 class="font-bold my-4 text-2xl"># Техника</h1>
    <h2 class="font-bold my-2 text-xl">## Рабочий ПК <span class="opacity-50 text-lg">с осени 2025 года</span></h2>
    <ul class="list-disc">
	<li><span class="font-bold">CPU:</span> AMD Ryzen 5 7500F</li>
	<li><span class="font-bold">Видеокарта:</span> KFA2 GeForce RTX 5060 Ti CORE OC 2FAN LED Black (16 GB)</li>
	<li><span class="font-bold">Матплата:</span> Gigabyte B650M Gaming WIFI</li>
	<li><span class="font-bold">RAM:</span> 32 GB (ADATA XPG Lancer Blade)</li>
	<li><span class="font-bold">SSD:</span> 1 TB NVMe (Kingston KC3000)</li>
	<li><span class="font-bold">HDD:</span> 2 TB (Seagate Barracuda)</li>
	<li><span class="font-bold">OS:</span> Windows 11 Pro 24H2</li>
    </ul>
    <h2 class="font-bold my-2 text-xl">## Рабочий ноутбук <span class="opacity-50 text-lg">с зимы 2022 года</span></h2>
    <ul class="list-disc">
    <li><span class="font-bold">Модель:</span> Asus Vivobook 15 M513IA</li>
	<li><span class="font-bold">CPU:</span> AMD Ryzen 7 4700U w/ Radeon Graphics</li>
    <li><span class="font-bold">SSD:</span> 2 TB NVMe (ADATA LEGEND 710)</li>
    <li><span class="font-bold">RAM:</span> 16 GB</li>
    <li><span class="font-bold">OS:</span> Windows 11 Home 24H2 + EndeavourOS Mercury Neo</li>
    </ul>
    <h1 class="font-bold my-4 text-2xl"># Контакты</h1>
    <ul class="list-disc">
	<li><span class="font-bold">Гитхаб:</span> <a href="/"><i class="fa-brands fa-github"></i>/Lennichijou</a></li>
	<li><span class="font-bold">Телеграм:</span> <a href="/"><i class="fa-brands fa-telegram"></i>/Lenhardt</a></li>

    </ul>
    </div>
</Layout>