---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Прочее">
    <div class="p-4">
    <h1 class="font-bold my-4 text-2xl">Прочее</h1>
    <article class="prose mb-0 mt-0 prose-base
            text-zinc-100
            text-base/6
            prose-blockquote:text-zinc-100
            prose-blockquote:opacity-75 
            prose-strong:text-zinc-100 
            prose-headings:text-zinc-100 
            prose-pre:text-zinc-100
            prose-pre:border-zinc-100
            prose-pre:border-2
            prose-code:text-zinc-100
            prose-a:text-zinc-300
            prose-a:focus:text-zinc-800
            prose-a:hover:text-zinc-800
            prose-a:focus:bg-zinc-300
            prose-a:hover:bg-zinc-300
            prose-b:text-zinc-100
            prose-a:no-underline
            prose-a:transition">

    <h2>Техника</h2>
    <h3>Рабочий ПК <span class="opacity-50">с осени 2025 года</span></h2>
    <ul>
    <li><span class="font-bold">CPU:</span> AMD Ryzen 5 7500F</li>
    <li><span class="font-bold">Видеокарта:</span> KFA2 GeForce RTX 5060 Ti CORE OC 2FAN LED Black (16 GB)</li>
    <li><span class="font-bold">Матплата:</span> Gigabyte B650M Gaming WIFI</li>
    <li><span class="font-bold">RAM:</span> 32 GB (ADATA XPG Lancer Blade)</li>
    <li><span class="font-bold">SSD:</span> 1 TB NVMe (Kingston KC3000)</li>
    <li><span class="font-bold">HDD:</span> 2 TB (Seagate Barracuda)</li>
    <li><span class="font-bold">OS:</span> Windows 11 Pro 24H2</li>
    </ul>

    <h3>Рабочий ноутбук <span class="opacity-50">с зимы 2022 года</span></h2>
    <ul>
    <li><span class="font-bold">Модель:</span> Asus Vivobook 15 M513IA</li>
    <li><span class="font-bold">CPU:</span> AMD Ryzen 7 4700U w/ Radeon Graphics</li>
    <li><span class="font-bold">SSD:</span> 2 TB NVMe (ADATA LEGEND 710)</li>
    <li><span class="font-bold">RAM:</span> 16 GB</li>
    <li><span class="font-bold">OS:</span> Windows 11 Home 24H2 + EndeavourOS Mercury Neo</li>
    </ul>

    </article>
    </div>

</Layout>