---
import Buttons from "../components/Buttons.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Главная">
<div class="p-4">
  <div class="flex container p-4 bg-zinc-100 text-zinc-900 a:bg-zinc-100 a:text-zinc-900 -rotate-1 hover:rotate-0 transition-transform shadow-2xs flex-col md:flex-row">
    <h1 id="hello" class="font-bold text-2xl">Вставить приветствие здесь.</h1>
  </div>
  <br>

  <article class="prose mb-0 mt-0 prose-base
            text-zinc-100
            text-base/6
            prose-blockquote:text-zinc-100
            prose-blockquote:opacity-75 
            prose-strong:text-zinc-100 
            prose-headings:text-zinc-100 
            prose-pre:text-zinc-100
            prose-pre:border-zinc-100
            prose-pre:border-2
            prose-code:text-zinc-100
            prose-a:text-zinc-300
            prose-a:focus:text-zinc-800
            prose-a:hover:text-zinc-800
            prose-a:focus:bg-zinc-300
            prose-a:hover:bg-zinc-300
            prose-b:text-zinc-100
            prose-a:no-underline
            prose-a:transition">
  <h2>О себе</h2>
  <p>Случайный человек из интернетов, инжир-погромист, чинит примус, сочиняет гиперболоиды, питается кофе и печеньками. Характер скрытный. Не женат.</p>
  <h2>Где-то меня можно найти</h2>
  <p><a href="https://github.com/Lennichijou" target="_blank" class=""><i class="fa-brands fa-github"></i> /Lennichijou</a><br>
  <a href="https://t.me/Lenhardt" target="_blank" class=""><i class="fa-brands fa-telegram"></i> /Lenhardt</a></p>

  </article>
</div>
<Buttons />
</Layout>