---
import Layout from "../layouts/Layout.astro"
import ProjectCard from "../components/ProjectCard.astro"
---

<Layout title="Главная">
<div class="p-4">
  <div class="flex container p-4 bg-zinc-100 text-zinc-900 a:bg-zinc-100 a:text-zinc-900 -rotate-1 hover:rotate-0 transition-transform shadow-2xs flex-col md:flex-row">
    <h1 id="hello" class="font-bold text-2xl">Вставить приветствие здесь.</h1>
  </div>
  <br>

  <article class="prose mb-0 mt-0 prose-base
            text-zinc-100
            prose-blockquote:text-zinc-100
            prose-blockquote:opacity-75 
            prose-strong:text-zinc-100 
            prose-headings:text-zinc-100 
            prose-pre:text-zinc-100
            prose-pre:border-zinc-100
            prose-pre:border-2
            prose-code:text-zinc-100
            prose-b:text-zinc-100
            prose-a:no-underline">
  <h3>Что-то мне всё-таки надо делать</h3>
  <ul>
    <li>
      <ProjectCard name="borqbot"
      link="https://github.com/Lennichijou/borqbot"
      desc="проект телеграм-бота, выдающего цитату/комикс из Цитатника Рунета"
      stack="python, aiogram, aiosqlite, bs4" />
  </ul>
  <h3>Где-то мне ещё надо находиться</h3>
  <ul class="list-none">
    <li><a href="https://github.com/Lennichijou" target="_blank"><i class="fa-brands fa-github"></i> /Lennichijou</a></li>
    <li><a href="https://t.me/Lenhardt" target="_blank"><i class="fa-brands fa-telegram"></i> /Lenhardt</a></li>
  </ul>
  </article>
</div>
</Layout>