---
import Buttons from "../components/Buttons.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Главная">
<div class="p-4">
  <div class="flex container p-4 bg-zinc-100 text-zinc-900 a:bg-zinc-100 a:text-zinc-900 -rotate-1 hover:rotate-0 transition-transform shadow-2xs flex-col md:flex-row">
    <h1 id="hello" class="font-bold text-2xl">Вставить приветствие здесь.</h1>
  </div>
  <br>

  <p>Случайный человек из интернетов, инжир-погромист, чинит примус, сочиняет гиперболоиды, питается кофе и печеньками. Характер скрытный. Не женат.</p>
  <br>

  <span class="font-bold">Где-то меня можно найти:</span>
  <p><a href="https://github.com/Lennichijou" target="_blank" class=""><i class="si-fit si-github"></i> GitHub</a><br>
  <a href="https://t.me/Lenhardt" target="_blank" class=""><i class="si-fit si-telegram"></i> Telegram</a></p>
  
    
  
</div>
<Buttons />
</Layout>