---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
const projects = [
    {
        name: 'borqbot',
        desciption: 'Проект телеграм-бота, выдающего цитату/комикс из Цитатника Рунета.',
        stack: ['Python','aiogram','aiosqlite','BeautifulSoup4'],
        link: 'https://github.com/Lennichijou/borqbot',
    },
]
---
<Layout title="Прочее">
    <div class="p-4">
    <h1 class="font-bold my-4 text-2xl">Проекты</h1>
    {
     projects.map((project) =>
    (<ProjectCard name={project.name} link={project.link} desc={project.desciption} stack={project.stack} />))   
    }
    </div>

</Layout>