---
import Button from "./Button.astro";
import ButtonLinkless from "./ButtonLinkless.astro";

;
---

<div class="flex gap-2 m-4 py-4 flex-wrap">
    <Button href="https://astro.build" src="88x31/astro.png" name="Astro"/>
    <ButtonLinkless src="88x31/js.png" name="Page contains JavaScript"/>
    <Button href="https://ublockorigin.com" src="88x31/ublock.png" name="uBlock Origin"/>
    <ButtonLinkless src="88x31/caramelldansen.gif" name="Caramelldansen"/>
    <ButtonLinkless src="88x31/best_viewed_with_eyes.gif" name="Best viewed with eyes"/>
</div>