---
import pkg from '../../package.json' with { type: 'json' };
import Year from "../components/Year.astro";
const projectVersion: string = pkg.version || 'unknown';
const astroVersion: string = pkg.dependencies?.["astro"] || 'unknown';
const tailwindVersion: string = pkg.devDependencies?.["@tailwindcss/vite"] || 'unknown';
---
<div class="m-4 opacity-75 text-sm">
    <p> v{projectVersion}</p>
    <p>Копирайт гыгыгы <Year /></p>
    <p>
        Made with
        <a href="https://astro.build/" target="_blank" class="">
            <i class="devicon-astro-plain"></i> Astro <small>{astroVersion}</small>
        </a> + 
        <a href="https://tailwindcss.com" target="_blank" class="">
            <i class="devicon-tailwindcss-plain"></i> Tailwind <small>{tailwindVersion}</small>
        </a>
    </p>
        
</div>