---
import Year from "../components/Year.astro";
---
<p class="m-4 opacity-50 text-sm">
        Копирайт гыгыгы <Year /><br />
        Made with <a href="https://astro.build/" target="_blank" class="">
            <i class="devicon-astro-plain"></i> Astro</a> + 
            <a href="https://tailwindcss.com" target="_blank" class="">
                <i class="devicon-tailwindcss-plain"></i> Tailwind</a>
      </p>