---
import Year from "../components/Year.astro";
---
<p class="m-4 opacity-50 text-sm">
        Копирайт гыгыгы <Year /><br />
        Made with <a href="https://astro.build/" target="_blank" class="hover:bg-zinc-300 focus:bg-zinc-300 hover:text-zinc-800 focus:text-zinc-800  transition">
            <i class="devicon-astro-plain"></i> Astro</a> + 
            <a href="https://tailwindcss.com" target="_blank" class="hover:bg-zinc-300 focus:bg-zinc-300 hover:text-zinc-800 focus:text-zinc-800  transition">
                <i class="devicon-tailwindcss-plain"></i> Tailwind</a>
      </p>