---
---
<div class="p-4">
<nav class="flex gap-5 sm:flex-row flex-col">
    <a href="/">/главная</a>
    <a href="/blog">/блог</a>
    <a href="/tags">/теги</a>
    <a href="/about">/абаут</a>
</nav>
</div>