---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css"
const { title } = Astro.props;
---
<!doctype html>
<html lang="ru" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="grid transition-discrete bg-zinc-800 text-zinc-100 right-0 top-0 p-5 mx-5 my-5 space-x-2 space-y-2">
    <main class="place-self-center container md:w-3xl sm:w-screen">
      <slot />
      <Footer />
    </main>
  </body>
</html>